{% if images is defined %}
<div class="flex-images" id="gallery">
        {% for image in images %}
                <div class="item" data-w="200" data-h="150">
                        <a href="{{ asset('uploads/imgs/') ~ image.file }}">
                            <img src="{{ asset('uploads/imgs/') ~ image.file }}" alt="">
                        </a>
                        {{ include('offer/_delete_image_form.html.twig') }}
                </div>
        {% endfor %}
</div>
{{ knp_pagination_render(images) }}
{% endif %}
