{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Offer</h1>

    {{ include('offer/_details.html.twig') }}

    {{ include('offer/_image_index.html.twig') }}

    <h2>{{ 'offer.show.mathing_listing.title' }}</h2>

    {{ include('offer/_listing.html.twig') }}

{% endblock %}
