<div class="alert alert-{{ type }}" role="alert">
    {{ message }}
    <button type="button" class="float-lg-right close js-flash-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
